@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Josefin+Sans:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    text-decoration: none;
    color: #fff;
}

html,
body{
    width: 100%;
    background: rgb(30, 2, 67);
    background: linear-gradient(90deg, rgba(30, 2, 67, 1) 24%, rgba(13, 3, 31, 1) 60%, rgba(78, 0, 50, 1) 100%);
    height: 830px;
}
.navbar {
    width: 100%;
    height: 80px;
    max-width: 100%;
    position: fixed;
    top: 0;
    font-size: 14px;
    line-height: 2.2rem;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    will-change: transform;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar li {
    position: relative;
    height: 100%;
    list-style: none;
}

.navbar li a {
    height: 100%;
    position: relative;
    padding: 25px 62px;
    display: flex;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar ul li :hover::after {
    content: "";
    width: calc(100% - 50px);
    height: 2px;
    background: #814bf6;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    transform: translateX(-50%) scaleX(1);
    -webkit-transform: translateX(-50%) scaleX(1);
    transform-origin: right;
    -webkit-transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.68, 0.21, 0.16, 0.94);
    -webkit-transition: transform 0.3s cubic-bezier(0.68, 0.21, 0.16, 0.94);
    box-shadow: 0px 0px 10px #df1cff;
    transition: 0.25s;
}

.navbar .link {
    cursor: pointer;
    display: inline-block;
}

.design-page {
  margin: 0 auto;
  max-width: 1255px;
  position: relative;
}

.box-design {
  margin: 186px auto 0;
  max-width: 1255px;
  background: url(/pict/box-vid.png) no-repeat;
  height: 654px;
  position: relative;
}

.title-design h2 {
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    top: 48px;
    left: 25px;
    position: relative;
    font-style: italic;
    color: cyan;
}

.banner{
    width: 100%;
    margin: 155px 45px;
}
.swiper {
    margin: 0 19px;
    width: 83%;
  }

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}

.swiper-slide img.dgimg {
    display: block;
    width: 82%;
    height: 80%;
    object-fit: cover;
}

.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%) translateY(-72px);
    white-space: nowrap;
}

.swiper-pagination-bullets-active {
    background-color: cyan;
}