@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Josefin+Sans:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    text-decoration: none;
    color: #fff;
}

html,
body {
    width: 100%;
    background: rgb(30, 2, 67);
    background: linear-gradient(90deg, rgba(30, 2, 67, 1) 24%, rgba(13, 3, 31, 1) 60%, rgba(78, 0, 50, 1) 100%);
    height: 1440px;
}

.navbar {
    width: 100%;
    height: 80px;
    max-width: 100%;
    position: fixed;
    top: 0;
    font-size: 14px;
    line-height: 2.2rem;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    will-change: transform;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar li {
    position: relative;
    height: 100%;
    list-style: none;
}

.navbar li a {
    height: 100%;
    position: relative;
    padding: 25px 62px;
    display: flex;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar ul li :hover::after {
    content: "";
    width: calc(100% - 50px);
    height: 2px;
    background: #814bf6;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    transform: translateX(-50%) scaleX(1);
    -webkit-transform: translateX(-50%) scaleX(1);
    transform-origin: right;
    -webkit-transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.68, 0.21, 0.16, 0.94);
    -webkit-transition: transform 0.3s cubic-bezier(0.68, 0.21, 0.16, 0.94);
    box-shadow: 0px 0px 10px #df1cff;
    transition: 0.25s;
}

.navbar .link {
    cursor: pointer;
    display: inline-block;
}

.element {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.element .stars {
    background: url(/pict/star.png) no-repeat top center;
    ;
    background-size: 92rem;
}

.element .shadow-1 {
    background: transparent url(/pict/random2.png) no-repeat top center;
    ;
    background-size: 760px;
}

.element .stars,
.element .shadow-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.ornament {
    position: absolute;
}

.planet {
    height: auto;
    position: relative;
    left: 6rem;
}

.roket {
    height: auto;
    position: absolute;
    top: 30rem;
    left: 71rem;
}

#home {
    width: 100%;
    margin: auto;
    position: relative;
}

.container {
    margin: 176px auto 0;
    max-width: 1000px;
    position: relative;
    display: flex;
}

.astronot img {
    height: 615px;
    position: relative;
    left: 186px;
    animation: astronot 13s ease 1s infinite normal forwards;
}

@keyframes astronot {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}

h2.txt-home {
    font-size: 4em;
    position: relative;
    letter-spacing: 2px;
    top: 12rem;
}

h2.txt-home p {
    font-size: 16px;
    margin-top: 6px;
    line-height: 2;
}

h2.txt-home a {
    text-align: center;
    transition: 0.5s;
    color: #fff;

}

.btn {
    display: inline-block;
    font-size: 16px;
    border: 0;
    padding: 8.5px 2px;
    letter-spacing: 0.05rem;
    position: relative;
    border-radius: 100px;
}

.gradient-border {
    background: linear-gradient(234deg, #fa015f, #1a00ff);
    border-radius: 100px;
    background-size: 400% 400%;

    -webkit-animation: gradient-border 6s ease infinite;
    -moz-animation: gradient-border 6s ease infinite;
    animation: gradient-border 6s ease infinite;
}

span.basic-bg {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    position: relative;
    top: -1px;
    padding: 8px 20px;
    background: #1e0243;
    border-radius: 100px;
}

@-webkit-keyframes gradient-border {
    0% {
        background-position: 79% 0%
    }

    50% {
        background-position: 22% 100%
    }

    100% {
        background-position: 79% 0%
    }
}

@-moz-keyframes gradient-border {
    0% {
        background-position: 79% 0%
    }

    50% {
        background-position: 22% 100%
    }

    100% {
        background-position: 79% 0%
    }
}

@keyframes gradient-border {
    0% {
        background-position: 79% 0%
    }

    50% {
        background-position: 22% 100%
    }

    100% {
        background-position: 79% 0%
    }
}

span.basic-bg:hover {
    background: linear-gradient(295deg, #bf264f, #1e0243);
    background-size: 400% 400%;
    -webkit-animation: basic-bg 3s ease infinite;
    -moz-animation: basic-bg 3s ease infinite;
    -o-animation: basic-bg 3s ease infinite;
    animation: basic-bg 3s ease infinite;
}

@-webkit-keyframes basic-bg {
    0% {
        background-position: 0% 18%
    }

    50% {
        background-position: 100% 83%
    }

    100% {
        background-position: 0% 18%
    }
}

@-moz-keyframes basic-bg {
    0% {
        background-position: 0% 18%
    }

    50% {
        background-position: 100% 83%
    }

    100% {
        background-position: 0% 18%
    }
}

@-o-keyframes basic-bg {
    0% {
        background-position: 0% 18%
    }

    50% {
        background-position: 100% 83%
    }

    100% {
        background-position: 0% 18%
    }
}

@keyframes basic-bg {
    0% {
        background-position: 0% 18%
    }

    50% {
        background-position: 100% 83%
    }

    100% {
        background-position: 0% 18%
    }
}

#works-page {
    width: 100%;
    margin: auto;
    position: relative;
    max-width: 1000px;
}

.title-work h2 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #ebd8cb;
    stroke: 1px solid #fddd03;
    text-shadow: 1px 1px 10px rgba(240, 147, 13, 1);
}

.ornament-works .star-works {
    background: url(/pict/star.png) no-repeat top center;
    height: 63rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.ornament-works .frame {
    background: url(/pict/garis-works.png) no-repeat top left;
    height: 560px;
    right: 12rem;
    z-index: 1;
    position: relative;
}

.border-gallery {
    background: url(/pict/frame-works.png) no-repeat top left;
    height: 141px;
    position: relative;
    bottom: 28rem;
    z-index: 2;
}

.txt-gallery h3 {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    text-transform: uppercase;
    top: 4rem;
    left: 4rem;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 1.5em;
}

.border-gallery .line {
    background: #2900f8;
    height: 5px;
    width: 76px;
    position: relative;
    top: 4.5rem;
    right: 36px;
    border-radius: 10px;
}

.line2 {
    background: #2900f8;
    height: 190px;
    width: 5px;
    position: relative;
    border-radius: 10px;
}

.line3 {
    background: #2900f8;
    height: 5px;
    width: 64rem;
    top: -2px;
    position: relative;
    border-radius: 10px;
}

.gallery-collase {
    display: flex;
    justify-content: center;
    position: relative;
}

.grid img {
    height: 260px;
    position: relative;
    border-radius: 28px;
    margin: 8.5rem 33px 0;
    box-shadow: 0 0 20px #2900f8;
}

.more-button {
    background: none;
    margin: 2rem 56rem 0;
    border: 2px solid #bf264f;
    height: 2rem;
    width: 6.5rem;
    border-radius: 10px;
    box-shadow: 0 0 20px #bf264f;
}

.more-button span {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    position: relative;
    top: 4px;
    left: 13px;
}

.more-button:hover{
    background: none;
    border: 2px solid #00f0fc;
    box-shadow: 0 0 20px #00f0fc;
}

.comet{
    background: url(/pict/planet-orange.png) no-repeat bottom left;
    position: relative;
    right: 17rem;
    height: 192px;
 }

.border-content{
    width: 100%;
    margin: 0 auto;
 }

.border-content img{
    height: 141px;
    position: relative;
    bottom: 6rem;
}

.txt-content{
    position: relative;
    margin-left: 4rem;
    bottom: 11rem;
}
.txt-content h3{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 1.5em;
}

.frame-content  {
    background: url(/pict/content-frame.png) no-repeat top left;
    height: 401px;
    position: relative;
    margin-left: -6rem;
    bottom: 98px;
    z-index: 1;
}

.frame-content img {
    height: 165px;
    margin-left: 11.2rem;
    margin-top: 12.5rem;
    border-radius: 20px;
    box-shadow: 0 0 20px #21fef5;
}

.frame-design {
    background: url(/pict/content-frame.png) no-repeat top left;
    height: 428px;
    position: relative;
    margin-left: 34rem;
    bottom: 38rem;
}
.content-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.content1{
    width: 100%;
    max-width: 500px;
    background: url(/pict/content-frame.png) no-repeat;
    background-size: 497px;
    position: relative;
    right: 60px;
    bottom: 9rem;
}
.content1 img{
    position: absolute;
    top: 92px;
    left: 9.5rem;
    height: 10rem;
    border-radius: 20px;
    box-shadow: 0 0 20px #21fef5;
    z-index: 1;
}

.content1 .glass-blur{
    width: 312px;
    height: 239px;
    border-radius: 14px;
    position: absolute;
    top: 5rem;
    left: 140px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255, 0));
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 37%);
    backdrop-filter: blur(8.5px);
}

.glass-blur p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 12rem;
    text-align: center;
}

.glass p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 12rem;
    text-align: center;
}

.content2 {
    width: 100%;
    max-width: 500px;
    background: url(/pict/content-frame.png) no-repeat;
    background-size: 497px;
    position: relative;
    
    bottom: 9rem;
}

.content2 img{
    position: relative;
    top: 92px;
    left: 9.5rem;
    height: 10rem;
    border-radius: 20px;
    box-shadow: 0 0 20px #21fef5;
    z-index: 1;
}

.content2 .glass-blur{
    width: 312px;
    height: 239px;
    border-radius: 14px;
    position: relative;
    bottom: 5rem;
    left: 140px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255, 0));
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 37%);
    backdrop-filter: blur(8.5px);
}

.frame-works-bottom{
    background: url(/pict/garis-works-2.png) no-repeat bottom right;
    position: absolute;
    height: 599px;
    width: 100%;
    bottom: -2rem;
    left: 207px;
}

#experience-page {
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: 1000px;
}

.text-exp h2{
    letter-spacing: 2px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #f8f8ec;
    stroke: 1px solid #f9f5c4;
    text-shadow: 1px 1px 10px #fdf763;
}

.exp-intern{
    width: 100%;
    position: relative;
}

.tegarnews {
    position: relative;
    top: 0;
    left: 0;
}

.tegarnews img{
    height: auto;
    margin: 6rem 0 0 0;
}

.txt-section {
    position: relative;
    bottom: 5.5rem;
    margin-left: 3rem;
}

.txt-section h2{
    font-size: 1.5rem;
    color: #f2e963;
}

.desc-tegarnews {
    position: relative;
    margin-left: 11rem;
    bottom: 3rem;
}

.desc-tegarnews h3 {
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color: #f2e963;
}

.desc-tegarnews p {
    font-size: 25px;
    font-weight: 300;
    margin: 1px 0 0 0;
    word-spacing: 2px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}

.dots {
    background: #f27289;
    position: relative;
    top: 1.6rem;
    width: 9px;
    height: 9px;
    box-shadow: 0 0 20px 0 #f27289;
}

.list-job p{
    margin-left: 2rem;
}
.dots2 {
    background: #f27289;
    width: 9px;
    height: 9px;
    position: relative;
    top: 2.5rem;
    box-shadow: 0 0 20px 0 #f27289;
}

.ozora {
    position: relative;
    bottom: 5rem;
    left: 0;
}

.ozora img {
    height: auto;
    margin: 6rem 2rem 0 0;
}

.txt-year {
    position: relative;
    bottom: 5.5rem;
    margin-left: 1rem;
}

.txt-year h2{
    font-size: 1.5rem;
    color: #f2e963;
}

.desc-ozora {
    position: relative;
    margin-left: 11rem;
    bottom: 3rem;
}

.desc-ozora h3 {
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color: #f2e963;
}

.desc-ozora p {
    font-size: 25px;
    font-weight: 300;
    margin: 1px 0 0 0;
    word-spacing: 2px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}

.dots3 {
    background: #f27289;
    position: relative;
    top: 1.6rem;
    width: 9px;
    height: 9px;
    box-shadow: 0 0 20px 0 #f27289;
}

.list-ozora p{
    margin-left: 2rem;
}
.dots4 {
    background: #f27289;
    width: 9px;
    height: 9px;
    position: relative;
    top: 2.5rem;
    box-shadow: 0 0 20px 0 #f27289;
}
.organization {
    position: relative;
    width: 100%;
    height: 0;
    max-width: 1000px;
}

.dots5 {
    background: #f27289;
    width: 9px;
    height: 9px;
    position: relative;
    top: 68px;
    left: 25px;
    box-shadow: 0 0 20px 0 #f27289;
}

.dots6 {
    background: #f27289;
    width: 9px;
    height: 9px;
    position: relative;
    top: 91px;
    left: 25px;
    box-shadow: 0 0 20px 0 #f27289;
}

.dots7 {
    background: #f27289;
    width: 9px;
    height: 9px;
    position: relative;
    top: 111px;
    left: 25px;
    box-shadow: 0 0 20px 0 #f27289;
}

.organization img{
    position: relative;
    bottom: 5rem;
}

.comet-green{
    position: absolute;
    right: -5rem;
    bottom: -28rem;
}
.txt-organization {
    position: relative;
    bottom: 5.3rem;
    margin-left: 3rem;
}

.txt-organization h2{
    font-size: 1.5rem;
    color: #f2e963;
    position: relative;
    bottom: 22rem;
    letter-spacing: 2px;
}

.glass-desc {
    max-width: 57rem;
    height: 13rem;
    position: relative;
    bottom: 25rem;
    margin-left: 14rem;
    border-radius: 24px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255, 0));
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 37%);
    backdrop-filter: blur(8.5px);
}

.glass-desc h3 {
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin: -7px 0 14px 25px;
    color: #fff;
}

.glass-desc p{
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin: 0 0 11px 45px;
    line-height: 1.5;
    color: #f2e963;
}

.glass-desc span{
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin: 14px 0 14px 25px;
    color: #fff;
}

.glass-shodou {
    max-width: 57rem;
    height: 19rem;
    position: relative;
    bottom: 20rem;
    margin-left: 14rem;
    border-radius: 24px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255, 0));
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 37%);
    backdrop-filter: blur(8.5px);
}

.dots8 {
    background: #f27289;
    width: 9px;
    height: 9px;
    position: relative;
    top: 87px;
    left: 25px;
    box-shadow: 0 0 20px 0 #f27289;
}

.dots9 {
    background: #f27289;
    width: 9px;
    height: 9px;
    position: relative;
    top: 109px;
    left: 25px;
    box-shadow: 0 0 20px 0 #f27289;
}

.dots10 {
    background: #f27289;
    width: 9px;
    height: 9px;
    position: relative;
    top: 130px;
    left: 25px;
    box-shadow: 0 0 20px 0 #f27289;
}

.dots11 {
    background: #f27289;
    width: 9px;
    height: 9px;
    position: relative;
    top: 150px;
    left: 25px;
    box-shadow: 0 0 20px 0 #f27289;
}

.dots12 {
    background: #f27289;
    width: 9px;
    height: 9px;
    position: relative;
    top: 171px;
    left: 25px;
    box-shadow: 0 0 20px 0 #f27289;
}

.glass-shodou h3{
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin: -7px 0 14px 25px;
    color: #fff;
    z-index: 12;
}

.glass-shodou p{
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin: 0 0 11px 45px;
    line-height: 1.5;
    color: #f2e963;
}

.glass-shodou span{
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    position: relative;
    left: 18px;
    color: #fff;
}

#skill-page{
    width: 100%;
    max-width: 1000px;
    margin: 43rem auto 0;
    position: relative;
}

.text-skill h2{
    position: relative;
    letter-spacing: 2px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    stroke: 1px solid #d90b42;
    text-shadow: 1px 1px 10px #d90b42;
}

.starry{
    background: url(/pict/star.png) no-repeat center top;
    height: 63rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.list-skill h3{
    line-height: 5;
}

.bar-chart {
    background: #fff;
    height: 1rem;
    border-radius: 10px;
}
  .bar-chart .bar-chart--inner {
    background: rgb(255, 255, 255);
    background: linear-gradient(86deg, rgba(0,87,91,1) 0%, rgba(0,255,235,1) 100%);
    height: 100%;
    display: block;
    border-radius: 10px;
    margin-bottom: 0.3rem;
    position: relative;
    will-change: width;
    overflow: hidden;
  }
  .bar-chart .bar-chart--inner:after {
    position: absolute;
    top: 0;
    right: 0;
    content: " ";
    width: 1rem;
    height: 100%;
    background: rgb(0, 255, 234);
    border-radius: 10px;
  }

  #about-page{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    padding-top: 12rem;
}

.box-abt::before{
    content: "";
    z-index: -1;
    position: absolute;
    top: -10rem;
    right: 24px;
    bottom: 105px;
    left: -66px;
    background: linear-gradient(-72deg, #8b003f 0%, #00ffd7 99% );
    transform: translate3d(56px, 129px, 0) scale(0.99);
    filter: blur(28px);
    border-radius: inherit;
}

.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
  
.border-abt {
    background: linear-gradient(136deg, rgba(0,255,215,1) 0%, rgba(139,0,63,1) 100%);
    max-width: 1000px;
    position: relative;
    height: 36rem;
}

.border-inner {
    background: linear-gradient(90deg, rgba(30, 2, 67, 1) 24%, rgba(13, 3, 31, 1) 60%, rgba(78, 0, 50, 1) 100%);
    max-width: 979px;
    position: relative;
    height: 556px;
    margin-left: 10px;
    top: 10px;
}

.glass-box{
    max-width: 54rem;
    height: 29rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 40px;
    margin-left: 3.5rem;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255, 0));
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 37%);
    backdrop-filter: blur(1.5px);
}

.desc-abt{
    position: relative;
    right: 50px;
    top: 65px;
}
.desc-abt h2{
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    color: #fff;
    stroke: 1px solid #5700f6;
    text-shadow: 1px 1px 10px #5700f6;
}

.borderabt img {
    margin: 0 auto;
    position: absolute;
    bottom: 420px;
    left: -55px;
}

.borderabt2 img {
    margin: 0 auto;
    position: relative;
    bottom: 135px;
    padding-left: 52.5rem;
}

.desc-abt p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin-top: 5rem;
    line-height: 1.5;
}

.image-me img {
    height: 212px;
    position: absolute;
    top: 8rem;
    left: 6rem;
    border-radius: 28px;
}

/* works page gallery section-start*/

html,
body {
    height: 830px;
}
.navbar {
    width: 100%;
    height: 80px;
    max-width: 100%;
    position: fixed;
    top: 0;
    font-size: 14px;
    line-height: 2.2rem;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    will-change: transform;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar li {
    position: relative;
    height: 100%;
    list-style: none;
}

.navbar li a {
    height: 100%;
    position: relative;
    padding: 25px 62px;
    display: flex;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar ul li :hover::after {
    content: "";
    width: calc(100% - 50px);
    height: 2px;
    background: #814bf6;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    transform: translateX(-50%) scaleX(1);
    -webkit-transform: translateX(-50%) scaleX(1);
    transform-origin: right;
    -webkit-transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.68, 0.21, 0.16, 0.94);
    -webkit-transition: transform 0.3s cubic-bezier(0.68, 0.21, 0.16, 0.94);
    box-shadow: 0px 0px 10px #df1cff;
    transition: 0.25s;
}

.navbar .link {
    cursor: pointer;
    display: inline-block;
}

.gallery-page{
    margin: 0 auto;
    max-width: 1255px;
    position: relative;
}

.box-gallery{
    margin: 140px auto 0;
    max-width: 1255px;
    background: url(/pict/box.png) no-repeat;
    height: 792px;
    position: relative;
}

.box-gallery img{
    height: 12px;
}

.title-gallery h2 {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    top: 9px;
    right: 37px;
    position: relative;
    font-style: italic;
    color: cyan;
}

.swiper {
    width: 90%;
    height: 90%;
  }

  .swiper, swiper-container {
    margin-left: 24px;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 50%;
    height: 80%;
    object-fit: cover;
    box-shadow: 0 0 20px #21fef5;
  }

  .swiper-pagination-bullet-active {
    background-color: #0efcfc;
  }

  /* works page gallery section-end*/

  /* work page writing section-start */
  html,
  body {
      height: 830px;
  }
  .navbar {
      width: 100%;
      height: 80px;
      max-width: 100%;
      position: fixed;
      top: 0;
      font-size: 14px;
      line-height: 2.2rem;
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      will-change: transform;
      transform: translateY(0%);
      -webkit-transform: translateY(0%);
      transition: 0.3s;
      -webkit-transition: 0.3s;
      z-index: 1000;
  }
  
  .navbar ul {
      display: flex;
      align-items: center;
      justify-content: center;
  
  }
  
  .navbar li {
      position: relative;
      height: 100%;
      list-style: none;
  }
  
  .navbar li a {
      height: 100%;
      position: relative;
      padding: 25px 62px;
      display: flex;
      letter-spacing: 2px;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      -webkit-transition: 0.3s;
  }
  
  a {
      text-decoration: none;
      color: #fff;
  }
  
  .navbar ul li :hover::after {
      content: "";
      width: calc(100% - 50px);
      height: 2px;
      background: #814bf6;
      border-radius: 50px;
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      transform: translateX(-50%) scaleX(1);
      -webkit-transform: translateX(-50%) scaleX(1);
      transform-origin: right;
      -webkit-transform-origin: right;
      transition: transform 0.3s cubic-bezier(0.68, 0.21, 0.16, 0.94);
      -webkit-transition: transform 0.3s cubic-bezier(0.68, 0.21, 0.16, 0.94);
      box-shadow: 0px 0px 10px #df1cff;
      transition: 0.25s;
  }
  
  .navbar .link {
      cursor: pointer;
      display: inline-block;
  }
  
  .writing-page{
      margin: 0 auto;
      max-width: 1255px;
      position: relative;
  }

.glass-writing {
    display: grid;
    grid-template-columns: 1fr 442px;
    grid-template-rows: repeat(1, 422px);
    position: relative;
    top: 15rem;
    gap: 30px;
}

.itemblog{
    background: rgba(129, 75, 246, 0.1);
    border-radius: 10px;
}
.wrmain-item {
    background: rgba(129, 75, 246, 0.1);
    border-radius: 10px;
    padding: 32px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.wrmain-item:first-child{
    grid-row: 1/3;
}

.itemblog .img-wr {
    display: block;
}

.img-wr{
    min-height: 100%;
    min-width: 100%;
    display: block;
    object-fit: cover;
}

.img-wr img {
    height: 402px;
    border-radius: 23px;
}

.content-wr {
    text-align: left;
}

.--green {
    background: linear-gradient(to right, #00bf8f, #061c17);
}

.img-wr2 img {
    height: 214px;
    border-radius: 23px;
}
.label {
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 2px 21px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    position: relative;
    bottom: 7rem;
}
.heading-title h3{
    font-size: 3.2rem;
    line-height: 4,2rem;
    text-align: left;
}

.heading-title a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 38px;
    line-height: 46px;
    text-align: left;
    position: relative;
    bottom: 6rem;
}

.heading-title a:hover{
    color: #00bf8f;
}

.content-wr2 {
    text-align: left;
}

.--orange {
    background-image: linear-gradient( 135deg, #FD6E6A 10%, #FFC600 100%);
}

.label2 {
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 2px 21px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    position: relative;
    top: 1rem;
}

.heading-title2 h3{
    font-size: 3.2rem;
    line-height: 4,2rem;
    text-align: left;
}
.heading-title2 a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    line-height: 40px;
    text-align: left;
    position: relative;
    top: 27px;
}

.heading-title2 a:hover{
    color: #00bf8f;
}

  /* work page writing section-end */

/* work page design section-start

design page in other css

work page design section-end */

/* work page video section-start */

html,
  body {
      height: 830px;
  }
  .navbar {
      width: 100%;
      height: 80px;
      max-width: 100%;
      position: fixed;
      top: 0;
      font-size: 14px;
      line-height: 2.2rem;
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      will-change: transform;
      transform: translateY(0%);
      -webkit-transform: translateY(0%);
      transition: 0.3s;
      -webkit-transition: 0.3s;
      z-index: 1000;
  }
  
  .navbar ul {
      display: flex;
      align-items: center;
      justify-content: center;
  
  }
  
  .navbar li {
      position: relative;
      height: 100%;
      list-style: none;
  }
  
  .navbar li a {
      height: 100%;
      position: relative;
      padding: 25px 62px;
      display: flex;
      letter-spacing: 2px;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      -webkit-transition: 0.3s;
  }
  
  a {
      text-decoration: none;
      color: #fff;
  }
  
  .navbar ul li :hover::after {
      content: "";
      width: calc(100% - 50px);
      height: 2px;
      background: #814bf6;
      border-radius: 50px;
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      transform: translateX(-50%) scaleX(1);
      -webkit-transform: translateX(-50%) scaleX(1);
      transform-origin: right;
      -webkit-transform-origin: right;
      transition: transform 0.3s cubic-bezier(0.68, 0.21, 0.16, 0.94);
      -webkit-transition: transform 0.3s cubic-bezier(0.68, 0.21, 0.16, 0.94);
      box-shadow: 0px 0px 10px #df1cff;
      transition: 0.25s;
  }
  
  .navbar .link {
      cursor: pointer;
      display: inline-block;
  }


.video-page {
    margin: 0 auto;
    position: relative;
    max-width: 1255px;
}
.frame-video {
    margin: 140px auto 0 37px;
    max-width: 1255px;
    background: url(/pict/box.png) no-repeat;
    height: 792px;
    position: relative;
}

.title-video h2{
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    top: 15px;
    right: 12px;
    position: relative;
    font-style: italic;
    color: cyan;
}

#video{
    width: 100%;
}

iframe {
    position: absolute;
    top: 10rem;
    left: 8rem;
    align-items: center;
    box-shadow: 0px 0px 18px #8b003f;
    border: 1px solid #8b003f;
}
